
@font-face {
    font-family: Just Signature;
    src: url(/fonts/justsignature.ttf) format('truetype').
	src: url(/fonts/justsignature.eot) format('embedded-opentype'),
         url(/fonts/justsignature.woff) format('woff'),
	 url(/fonts/justsignature.woff2) format('woff2'),
         url(/fonts/justsignature.ttf) format('truetype'),
         url(/fonts/justsignature.svg) format('svg');
}

body {
	margin-top: 150px;
	margin-bottom: 80px;
	background-image: linear-gradient(150deg, rgba(100,100,100,.8) ,rgba(100,50,0,0) 36%);
	background-repeat: no-repeat
}

h1 {
    color: rgba(150,120,90,1.00);
    text-align: center;
	font-family: "Just Signature", Dawning of a New Day, cursive;
    font-size: 36px;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
	line-height: 30px;
}
